<% title "View Schedule" %>
<% content_for :page_heading do %>
<h1>View Schedule
  <small>
    <% if @search %>
      <%= link_to "Back to possible schedules", @search %>
    <% else %>
      <%= link_to "Build a schedule!", new_search_path %>
    <% end %></small>
</h1>
<% end %>

<h3>Schedule Info</h3>
<table class="table table-bordered table-hover table-condensed">
<thead>
  <tr>
    <th>Course</th>
    <th>Code</th>
    <th>Type</th>
    <th>Instructor</th>
    <th>Location</th>
    <th>Time</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
<% @courses.each do |course| %>
<tr>
  <td><%= course.department.code %> <%= course.course_num %></td>
  <td><%= course.ccode %></td>
  <td><%= course.type %></td>
  <td><%= course.teacher %></td>
  <td><% if course.building %>
    <%= link_to course.building.abbr, "https://eee.uci.edu/toolbox/roomfinder/room.php?building_abbr=#{course.building.abbr}" %> <%= course.room %>
    <% else %>
    TBA
    <% end %>
  </td>
  <td><%= course.days %> <%= course.meeting_time %></td>
  <td><span class="status-<%= course.status.downcase %>"><%= course.status %></span></td>
</tr>
<% end %>
</tbody>
</table>

<script>
var CALENDAR_JSON = <%= @calendar_info.to_json.html_safe %>;
</script>

<h3>Weekly Calendar</h3>

<div id="calendar"></div>
