<% title "Possible Schedules" %>
<% content_for :page_heading do %>
<h1>Possible Schedules
  <small>(<%= link_to 'edit search', edit_search_path(@search) %>)</small>
</h1>
<% end %>



<h3>Search Criteria <small>(<%= link_to 'edit', edit_search_path(@search) %>)</small></h3>
<dl class="dl-horizontal">
  <dt>Quarter</dt>
  <dd><%= @search.term.name %></dd>

  <dt>Earliest Time Allowed</dt>
  <dd>
    <% if @search.earliest_time %>
      <%= @search.earliest_time %>
    <% else %>
      No restriction
    <% end %>
  </dd>

  <dt>Latest Time Allowed</dt>
  <dd>
     <% if @search.latest_time %>
      <%= @search.latest_time %>
    <% else %>
      No restriction
    <% end %>
  </dd>

  <dt>Days Allowed</dt>
  <dd><%= @search.days.join(', ') %></dd>

  <dt>Statuses Allowed</dt>
  <dd><%= statuses @search.status_list %></dd>

  <dt>Required Sections</dt>
  <dd>
    <% if @search.req_sections.empty? %>
    <em>None</em>
    <% else %>
    <ul class="unstyled">
      <%= render Course.where(term_id: @search.term_id).where(ccode: @search.req_sections) %>
    </ul>
    <% end %>
  </dd>

  <dt>Courses</dt>
  <dd>
    <ul class="unstyled">
      <% @search.search_courses.each do |search_course| %>
      <li><%= search_course.to_s %></li>
      <% end %>
    </ul>
  </dd>

</dl>


<% if @search.schedules.empty? %>
<div class="alert alert-error">
Sorry, but it doesn't look like we found any possible schedule combinations that met your criteria.
<br/>
<br/>
Perhaps you should <%= link_to 'broaden your search', edit_search_path(@search) %>.
</div>
<% else %>

<div class="alert alert-info">
Below are the possible schedules based on your search criteria. To view a schedule, click the list of course codes.
</div>

<h3>Results <small><%= pluralize @search.schedules.size, 'possible schedule' %>
(<a href="#details" class="search-details-toggle">Detailed View</a>)
</small></h3>

<table class="table table-bordered table-hover table-condensed" id="section_list">
<thead>
  <tr>
    <th>Section Codes</th>
    <th>Statuses</th>
    <th>Longest Day</th>
  </tr>
</thead>
<tbody>
<% @search.schedules.each do |sched| %>
<tr data-ranking="<%= sched.ranking %>">
  <td><%= link_to sched.pretty_ccodes.join(', '), schedule_path(term_code: @search.term.code, ccodes: sched.pretty_ccodes.join(',')) %></td>
  <td nowrap="nowrap"><%= statuses sched.statuses %></td>
  <td nowrap="nowrap"><%= longest_day sched %></td>
</tr>
<tr class="sched-details-row" style="display:none;">
  <td colspan="5">
    <div class="sched-details">
      <dl class="dl-horizontal">
        <dt>Professors:</dt>
        <dd><%= sched.teachers.join(', ') %></dd>
      </dl>
    </div>
  </td>
</tr>
<% end %>
</tbody>
</table>

<% end %>